In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize
import requests
from scrapy import Selector

In [180]:
teams = ["AFC Bournemouth",
"Arsenal FC",
"Villa FC",
"Hove Albion FC",
"Burnley FC",
"Chelsea FC",
"Crystal Palace FC",
"Everton FC",
"Leicester City FC",
"Liverpool FC",
"Manchester City FC",
"Manchester United",
"Newcastle United F",
"Norwich City FC",
"Sheffield United FC",
"Southampton FC",
"Tottenham Hotspur FC",
"Watford FC",
"Ham United",
"Wolverhampton Wanderers FC"]

team_urls = []
site_url ='http://www.european-football-statistics.co.uk/englandcontent.htm'
headers = {
    'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
    'accept-encoding': 'gzip, deflate',
    'accept-language': 'en-GB,en-US;q=0.9,en;q=0.8,ml;q=0.7',
    'upgrade-insecure-requests': '1',
    'user-agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.88 Safari/537.36',
}

for team in teams:
    response= requests.get(site_url,headers=headers)
    response = Selector(text=response.text)
    xpath = '//td[contains(a/span/text(),"{}")]/a/@href'.format(team)
    url = response.xpath(xpath).extract_first('')
    team_urls.append(url)

In [181]:
team_urls
# team_urls=[ 'http://european-football-statistics.co.uk/attnclub/league/newu.htm',
#  'http://european-football-statistics.co.uk/attnclub/league/norc.htm',
#  'http://european-football-statistics.co.uk/attnclub/league/sheu.htm',
#  'http://european-football-statistics.co.uk/attnclub/league/soto.htm',
#  'http://european-football-statistics.co.uk/attnclub/league/toth.htm',
#  'http://european-football-statistics.co.uk/attnclub/league/watf.htm',
#  'http://european-football-statistics.co.uk/attnclub/league/whu.htm',
#  'http://european-football-statistics.co.uk/attnclub/league/wolw.htm']
# team_urls[11]

['http://european-football-statistics.co.uk/attnclub/league/bour.htm',
 'http://european-football-statistics.co.uk/attnclub/league/arse.htm',
 'http://european-football-statistics.co.uk/attnclub/league/astv.htm',
 'http://european-football-statistics.co.uk/attnclub/league/bha.htm',
 'http://european-football-statistics.co.uk/attnclub/league/burn.htm',
 'http://european-football-statistics.co.uk/attnclub/league/chls.htm',
 'http://european-football-statistics.co.uk/attnclub/league/cryp.htm',
 'http://european-football-statistics.co.uk/attnclub/league/ever.htm',
 'http://european-football-statistics.co.uk/attnclub/league/leic.htm',
 'http://european-football-statistics.co.uk/attnclub/league/live.htm',
 'http://european-football-statistics.co.uk/attnclub/league/manc.htm',
 'http://european-football-statistics.co.uk/attnclub/league/manu.htm',
 'http://european-football-statistics.co.uk/attnclub/league/newu.htm',
 'http://european-football-statistics.co.uk/attnclub/league/norc.htm',
 'http://european-football-statistics.co.uk/attnclub/league/sheu.htm',
 'http://european-football-statistics.co.uk/attnclub/league/soto.htm',
 'http://european-football-statistics.co.uk/attnclub/league/toth.htm',
 'http://european-football-statistics.co.uk/attnclub/league/watf.htm',
 'http://european-football-statistics.co.uk/attnclub/league/whu.htm',
 'http://european-football-statistics.co.uk/attnclub/league/wolw.htm']

In [183]:
frames = []
time_lapse_df = pd.DataFrame()
for index,url in enumerate(team_urls):
    team_df = pd.read_html(url)[2]
    result_df = team_df[14:].set_index(0)
    result_df = result_df.drop([1,2,3,5,6,7,8,9,10,11,12,13,14],axis=1)
    final_df = result_df.rename(columns={4:teams[index]})
    print(final_df)
    frames.append(final_df)

     AFC Bournemouth
0
2020          10.510
2019          10.532
2018          10.641
2017          11.182
2016          11.189
...              ...
1928           5.290
1927           5.453
1926           5.388
1925           5.250
1924           6.250

[91 rows x 1 columns]
     Arsenal FC
0
2020     60.279
2019     59.899
2018     59.323
2017     59.957
2016     59.944
...         ...
1895      6.660
1894      6.050
1893        NaN
1892        NaN
1891        NaN

[120 rows x 1 columns]
     Villa FC
0
2020   41.661
2019   36.027
2018   32.097
2017   32.107
2016   33.690
...       ...
1884      NaN
1883      NaN
1882      NaN
1881      NaN
1880      NaN

[131 rows x 1 columns]
     Hove Albion FC
0
2020         30.358
2019         30.426
2018         30.403
2017         27.996
2016         25.583
...             ...
1910            NaN
1909            NaN
1908            NaN
1907            NaN
1906            NaN

[105 rows x 1 columns]
     Burnley FC
0
2020     20.260
2019     20.534
2018     20.688
2017     20.558
2016     16.823
...         ...
1890      5.400
1889      4.200
1888        NaN
1887        NaN
1886        NaN

[125 rows x 1 columns]
     Chelsea FC
0
2020     40.563
2019     40.437
2018     41.282
2017     41.508
2016     41.500
...         ...
1910     28.545
1909     29.120
1908     31.965
1907     18.135
1906     13.370

[105 rows x 1 columns]
     Crystal Palace FC
0
2020            25.060
2019            25.455
2018            25.063
2017            25.161
2016            24.825
...                ...
1910               NaN
1909               NaN
1908               NaN
1907               NaN
1906               NaN

[105 rows x 1 columns]
     Everton FC
0
2020     39.150
2019     39.043
2018     38.797
2017     39.310
2016     38.124
...         ...
1891     11.375
1890     10.110
1889      7.260
1888        NaN
1887        NaN

[124 rows x 1 columns]
     Leicester City FC
0
2020            32.061
2019            31.851
2018            31.636
2017            31.893
2016            32.021
...                ...
1898             6.000
1897             5.900
1896             6.100
1895             6.000
1894               NaN

[117 rows x 1 columns]
     Liverpool FC
0
2020       53.143
2019       52.983
2018       53.049
2017       53.016
2016       43.910
...           ...
1898       12.935
1897       12.035
1896        5.795
1895       12.015
1894        5.215

[117 rows x 1 columns]
     Manchester City FC
0
2020             54.219
2019             54.130
2018             54.070
2017             54.019
2016             54.041
...                 ...
1897              7.470
1896              9.480
1895              5.045
1894              3.410
1893              3.030

[118 rows x 1 columns]
     Manchester United
0
2020            73.393
2019            74.498
2018            74.976
2017            75.290
2016            75.279
...                ...
1891               NaN
1890               NaN
1889               NaN
1888               NaN
1887               NaN

[124 rows x 1 columns]
     Newcastle United F
0
2020             48.248
2019             51.121
2018             51.992
2017             51.106
2016             49.754
...                 ...
1897              8.130
1896              7.255
1895              4.155
1894              3.525
1893                NaN

[118 rows x 1 columns]
     Norwich City FC
0
2020          27.025
2019          26.014
2018          25.959
2017          26.354
2016          26.972
...              ...
1910             NaN
1909             NaN
1908             NaN
1907             NaN
1906             NaN

[105 rows x 1 columns]
     Sheffield United FC
0
2020              30.869
2019              26.177
2018              26.854
2017              21.892
2016              19.803
...                  ...
1894               8.730
1893               2.550
1892                 NaN
1891                 NaN
1890                 NaN

[121 rows x 1 columns]
     Southampton FC
0
2020         29.675
2019         30.139
2018         30.794
2017         30.936
2016         30.751
...             ...
1899            NaN
1898            NaN
1897            NaN
1896            NaN
1895            NaN

[116 rows x 1 columns]
     Tottenham Hotspur FC
0
2020               59.384
2019               54.216
2018               68.052
2017               31.639
2016               35.776
...                   ...
1900                  NaN
1899                  NaN
1898                  NaN
1897                  NaN
1896                  NaN

[115 rows x 1 columns]
     Watford FC
0
2020     20.837
2019     20.016
2018     20.231
2017     20.571
2016     20.594
...         ...
1910        NaN
1909        NaN
1908        NaN
1907        NaN
1906        NaN

[105 rows x 1 columns]
     Ham United
0
2020     59.925
2019     58.336
2018     56.885
2017     56.972
2016     34.910
...         ...
1910        NaN
1909        NaN
1908        NaN
1907        NaN
1906        NaN

[105 rows x 1 columns]
     Wolverhampton Wanderers FC
0
2020                     31.360
2019                     31.030
2018                     28.298
2017                     21.570
2016                     20.157
...                         ...
1888                        NaN
1887                        NaN
1886                        NaN
1885                        NaN
1884                        NaN

[127 rows x 1 columns]

In [194]:
len(frames)

40

In [187]:
time_lapse_df.columns

Index([                           0,                            1,
                                  2,                            3,
                                  4,                            5,
                                  6,                            7,
                                  8,                            9,
                                 10,                           11,
                                 11,                           12,
                                 13,                           14,
                                 15,                           16,
                                 17,                           18,
                  'AFC Bournemouth',                 'Arsenal FC',
                         'Villa FC',             'Hove Albion FC',
                       'Burnley FC',                 'Chelsea FC',
                'Crystal Palace FC',                 'Everton FC',
                'Leicester City FC',               'Liverpool FC',
               'Manchester City FC',          'Manchester United',
               'Newcastle United F',            'Norwich City FC',
              'Sheffield United FC',             'Southampton FC',
             'Tottenham Hotspur FC',                 'Watford FC',
                       'Ham United', 'Wolverhampton Wanderers FC'],
      dtype='object')

In [191]:
time_lapse_df = time_lapse_df.drop([                           0,                            1,
                                  2,                            3,
                                  4,                            5,
                                  6,                            7,
                                  8,                            9,
                                 10,                           11,
                                 11,                           12,
                                 13,                           14,
                                 15,                           16,
                                 17,                           18],axis=1)

In [195]:
time_lapse_df

,0,1,2,3,4,5,6,7,8,9,...,Manchester City FC,Manchester United,Newcastle United F,Norwich City FC,Sheffield United FC,Southampton FC,Tottenham Hotspur FC,Watford FC,Ham United,Wolverhampton Wanderers FC
0,,,,,,,,,,,,,,,,,,,,,
2020,10.510,60.279,41.661,30.358,20.260,40.563,25.060,39.150,32.061,53.143,...,54.219,73.393,48.248,27.025,30.869,29.675,59.384,20.837,59.925,31.360
2019,10.532,59.899,36.027,30.426,20.534,40.437,25.455,39.043,31.851,52.983,...,54.130,74.498,51.121,26.014,26.177,30.139,54.216,20.016,58.336,31.030
2018,10.641,59.323,32.097,30.403,20.688,41.282,25.063,38.797,31.636,53.049,...,54.070,74.976,51.992,25.959,26.854,30.794,68.052,20.231,56.885,28.298
2017,11.182,59.957,32.107,27.996,20.558,41.508,25.161,39.310,31.893,53.016,...,54.019,75.290,51.106,26.354,21.892,30.936,31.639,20.571,56.972,21.570
2016,11.189,59.944,33.690,25.583,16.823,41.500,24.825,38.124,32.021,43.910,...,54.041,75.279,49.754,26.972,19.803,30.751,35.776,20.594,34.910,20.157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [196]:
time_lapse_df = pd.concat(frames,axis=1)

In [199]:
time_lapse_df = time_lapse_df.drop([                           0,                            1,
                                  2,                            3,
                                  4,                            5,
                                  6,                            7,
                                  8,                            9,
                                 10,                           11,
                                 11,                           12,
                                 13,                           14,
                                 15,                           16,
                                 17,                           18],axis=1)

In [200]:
time_lapse_df

,AFC Bournemouth,Arsenal FC,Villa FC,Hove Albion FC,Burnley FC,Chelsea FC,Crystal Palace FC,Everton FC,Leicester City FC,Liverpool FC,Manchester City FC,Manchester United,Newcastle United F,Norwich City FC,Sheffield United FC,Southampton FC,Tottenham Hotspur FC,Watford FC,Ham United,Wolverhampton Wanderers FC
0,,,,,,,,,,,,,,,,,,,,
2020,10.510,60.279,41.661,30.358,20.260,40.563,25.060,39.150,32.061,53.143,54.219,73.393,48.248,27.025,30.869,29.675,59.384,20.837,59.925,31.360
2019,10.532,59.899,36.027,30.426,20.534,40.437,25.455,39.043,31.851,52.983,54.130,74.498,51.121,26.014,26.177,30.139,54.216,20.016,58.336,31.030
2018,10.641,59.323,32.097,30.403,20.688,41.282,25.063,38.797,31.636,53.049,54.070,74.976,51.992,25.959,26.854,30.794,68.052,20.231,56.885,28.298
2017,11.182,59.957,32.107,27.996,20.558,41.508,25.161,39.310,31.893,53.016,54.019,75.290,51.106,26.354,21.892,30.936,31.639,20.571,56.972,21.570
2016,11.189,59.944,33.690,25.583,16.823,41.500,24.825,38.124,32.021,43.910,54.041,75.279,49.754,26.972,19.803,30.751,35.776,20.594,34.910,20.157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [229]:
teams = ["AFC Bournemouth",
"Arsenal FC",
"Aston Villa FC",
"Brighton & Hove Albion FC",
"Burnley FC",
"Chelsea FC",
"Crystal Palace FC",
"Everton FC",
"Leicester City FC",
"Liverpool FC",
"Manchester City FC",
"Manchester United",
"Newcastle United F",
"Norwich City FC",
"Sheffield United FC",
"Southampton FC",
"Tottenham Hotspur FC",
"Watford FC",
"West Ham United FC",
"Wolverhampton Wanderers FC"]

In [230]:
time_lapse_df = time_lapse_df.rename(columns={0:teams[0],1:teams[1],2:teams[2],3:teams[3],4:teams[4],5:teams[5],6:teams[6],7:teams[7],8:teams[8],9:teams[9],10:teams[10],11:teams[11],12:teams[12],13:teams[13],14:teams[14],15:teams[15],16:teams[16],17:teams[17],18:teams[18],19:teams[19]})

In [234]:
time_lapse_df = time_lapse_df.rename(columns={'Villa FC':'Aston Villa FC','Hove Albion FC':'Brighton & Hove Albion FC','Ham United':'West Ham United FC'})

In [236]:
time_lapse_df.columns

Index(['AFC Bournemouth', 'Arsenal FC', 'Aston Villa FC',
       'Brighton & Hove Albion FC', 'Burnley FC', 'Chelsea FC',
       'Crystal Palace FC', 'Everton FC', 'Leicester City FC', 'Liverpool FC',
       'Manchester City FC', 'Manchester United', 'Newcastle United F',
       'Norwich City FC', 'Sheffield United FC', 'Southampton FC',
       'Tottenham Hotspur FC', 'Watford FC', 'West Ham United FC',
       'Wolverhampton Wanderers FC'],
      dtype='object')

In [237]:
time_lapse_df = time_lapse_df[time_lapse_df.columns].apply(pd.to_numeric)

In [238]:
time_lapse_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 131 entries, 1880 to 2020
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   AFC Bournemouth             131 non-null    float64
 1   Arsenal FC                  131 non-null    float64
 2   Aston Villa FC              131 non-null    float64
 3   Brighton & Hove Albion FC   131 non-null    float64
 4   Burnley FC                  131 non-null    float64
 5   Chelsea FC                  131 non-null    float64
 6   Crystal Palace FC           131 non-null    float64
 7   Everton FC                  131 non-null    float64
 8   Leicester City FC           131 non-null    float64
 9   Liverpool FC                131 non-null    float64
 10  Manchester City FC          131 non-null    float64
 11  Manchester United           131 non-null    float64
 12  Newcastle United F          131 non-null    float64
 13  Norwich City FC             131 non-null    float64
 14  Sheffield United FC         131 non-null    float64
 15  Southampton FC              131 non-null    float64
 16  Tottenham Hotspur FC        131 non-null    float64
 17  Watford FC                  131 non-null    float64
 18  West Ham United FC          131 non-null    float64
 19  Wolverhampton Wanderers FC  131 non-null    float64
dtypes: float64(20)
memory usage: 21.5+ KB

In [239]:
time_lapse_df

,AFC Bournemouth,Arsenal FC,Aston Villa FC,Brighton & Hove Albion FC,Burnley FC,Chelsea FC,Crystal Palace FC,Everton FC,Leicester City FC,Liverpool FC,Manchester City FC,Manchester United,Newcastle United F,Norwich City FC,Sheffield United FC,Southampton FC,Tottenham Hotspur FC,Watford FC,West Ham United FC,Wolverhampton Wanderers FC
0,,,,,,,,,,,,,,,,,,,,
1880,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1881,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1882,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1883,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1884,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,11.189,59.944,33.690,25.583,16.823,41.500,24.825,38.124,32.021,43.910,54.041,75.279,49.754,26.972,19.803,30.751,35.776,20.594,34.910,20.157
2017,11.182,59.957,32.107,27.996,20.558,41.508,25.161,39.310,31.893,53.016,54.019,75.290,51.106,26.354,21.892,30.936,31.639,20.571,56.972,21.570
2018,10.641,59.323,32.097,30.403,20.688,41.282,25.063,38.797,31.636,53.049,54.070,74.976,51.992,25.959,26.854,30.794,68.052,20.231,56.885,28.298
2019,10.532,59.899,36.027,30.426,20.534,40.437,25.455,39.043,31.851,52.983,54.130,74.498,51.121,26.014,26.177,30.139,54.216,20.016,58.336,31.030
2020,10.510,60.279,41.661,30.358,20.260,40.563,25.060,39.150,32.061,53.143,54.219,73.393,48.248,27.025,30.869,29.675,59.384,20.837,59.925,31.360

In [240]:
time_lapse_df = time_lapse_df.fillna(0)

In [241]:
time_lapse_df

,AFC Bournemouth,Arsenal FC,Aston Villa FC,Brighton & Hove Albion FC,Burnley FC,Chelsea FC,Crystal Palace FC,Everton FC,Leicester City FC,Liverpool FC,Manchester City FC,Manchester United,Newcastle United F,Norwich City FC,Sheffield United FC,Southampton FC,Tottenham Hotspur FC,Watford FC,West Ham United FC,Wolverhampton Wanderers FC
0,,,,,,,,,,,,,,,,,,,,
1880,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1881,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1882,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1883,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1884,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,11.189,59.944,33.690,25.583,16.823,41.500,24.825,38.124,32.021,43.910,54.041,75.279,49.754,26.972,19.803,30.751,35.776,20.594,34.910,20.157
2017,11.182,59.957,32.107,27.996,20.558,41.508,25.161,39.310,31.893,53.016,54.019,75.290,51.106,26.354,21.892,30.936,31.639,20.571,56.972,21.570
2018,10.641,59.323,32.097,30.403,20.688,41.282,25.063,38.797,31.636,53.049,54.070,74.976,51.992,25.959,26.854,30.794,68.052,20.231,56.885,28.298
2019,10.532,59.899,36.027,30.426,20.534,40.437,25.455,39.043,31.851,52.983,54.130,74.498,51.121,26.014,26.177,30.139,54.216,20.016,58.336,31.030
2020,10.510,60.279,41.661,30.358,20.260,40.563,25.060,39.150,32.061,53.143,54.219,73.393,48.248,27.025,30.869,29.675,59.384,20.837,59.925,31.360

In [242]:
time_lapse_df.sort_values(by=[0], inplace=True)

In [243]:
time_lapse_df

,AFC Bournemouth,Arsenal FC,Aston Villa FC,Brighton & Hove Albion FC,Burnley FC,Chelsea FC,Crystal Palace FC,Everton FC,Leicester City FC,Liverpool FC,Manchester City FC,Manchester United,Newcastle United F,Norwich City FC,Sheffield United FC,Southampton FC,Tottenham Hotspur FC,Watford FC,West Ham United FC,Wolverhampton Wanderers FC
0,,,,,,,,,,,,,,,,,,,,
1880,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1881,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1882,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1883,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1884,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,11.189,59.944,33.690,25.583,16.823,41.500,24.825,38.124,32.021,43.910,54.041,75.279,49.754,26.972,19.803,30.751,35.776,20.594,34.910,20.157
2017,11.182,59.957,32.107,27.996,20.558,41.508,25.161,39.310,31.893,53.016,54.019,75.290,51.106,26.354,21.892,30.936,31.639,20.571,56.972,21.570
2018,10.641,59.323,32.097,30.403,20.688,41.282,25.063,38.797,31.636,53.049,54.070,74.976,51.992,25.959,26.854,30.794,68.052,20.231,56.885,28.298
2019,10.532,59.899,36.027,30.426,20.534,40.437,25.455,39.043,31.851,52.983,54.130,74.498,51.121,26.014,26.177,30.139,54.216,20.016,58.336,31.030
2020,10.510,60.279,41.661,30.358,20.260,40.563,25.060,39.150,32.061,53.143,54.219,73.393,48.248,27.025,30.869,29.675,59.384,20.837,59.925,31.360

In [256]:
for i in time_lapse_df.columns:
    time_lapse_df[i] = 1000 * time_lapse_df[i]

In [257]:
time_lapse_df

,AFC Bournemouth,Arsenal FC,Aston Villa FC,Brighton & Hove Albion FC,Burnley FC,Chelsea FC,Crystal Palace FC,Everton FC,Leicester City FC,Liverpool FC,Manchester City FC,Manchester United,Newcastle United F,Norwich City FC,Sheffield United FC,Southampton FC,Tottenham Hotspur FC,Watford FC,West Ham United FC,Wolverhampton Wanderers FC
0,,,,,,,,,,,,,,,,,,,,
1880,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1881,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1883,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1884,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,11189.0,59944.0,33690.0,25583.0,16823.0,41500.0,24825.0,38124.0,32021.0,43910.0,54041.0,75279.0,49754.0,26972.0,19803.0,30751.0,35776.0,20594.0,34910.0,20157.0
2017,11182.0,59957.0,32107.0,27996.0,20558.0,41508.0,25161.0,39310.0,31893.0,53016.0,54019.0,75290.0,51106.0,26354.0,21892.0,30936.0,31639.0,20571.0,56972.0,21570.0
2018,10641.0,59323.0,32097.0,30403.0,20688.0,41282.0,25063.0,38797.0,31636.0,53049.0,54070.0,74976.0,51992.0,25959.0,26854.0,30794.0,68052.0,20231.0,56885.0,28298.0
2019,10532.0,59899.0,36027.0,30426.0,20534.0,40437.0,25455.0,39043.0,31851.0,52983.0,54130.0,74498.0,51121.0,26014.0,26177.0,30139.0,54216.0,20016.0,58336.0,31030.0
2020,10510.0,60279.0,41661.0,30358.0,20260.0,40563.0,25060.0,39150.0,32061.0,53143.0,54219.0,73393.0,48248.0,27025.0,30869.0,29675.0,59384.0,20837.0,59925.0,31360.0

In [244]:
import bar_chart_race as bcr

In [263]:
bcr.bar_chart_race(df = time_lapse_df[8:], 
                   n_bars = 8, 
                   sort='desc',
                   title='AVERAGE EPL ATTENDANCE PER SEASON 1888-2020',
                   filename = 'rise_bar.mp4',steps_per_period=8,label_bars=False,bar_label_size=4, period_length=1500,tick_label_size=5,cmap='Plotly',filter_column_colors=True)

/home/user/miniconda3/envs/ml/lib/python3.7/site-packages/bar_chart_race/_make_chart.py:286: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_yticklabels(self.df_values.columns)
/home/user/miniconda3/envs/ml/lib/python3.7/site-packages/bar_chart_race/_make_chart.py:287: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))